{% extends "page.html" %}

{% block breadcrumb_content %}
    {{ super() }}
  <li><a href="{{ h.url_for('contact_form') }}">Sugerir datos</a></li>

{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">¡Gracias!</h1>
      <p>Tu propuesta ha sido enviada, nos pondremos con ello lo antes posible.</p>

    </div>
  </article>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Contact Us') }}
  </h2>
  <div class="module-content">
    <p>
        ¿Quieres que se incorpore algún conjunto de datos nuevo? 
    </p>
  </div>
</div>
{% endblock %}